version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "5000:5000"
    environment:
      - SECRET_KEY=1234567890
      - FLASK_ENV=development
    volumes:
      - .:/app
    restart: unless-stopped
